<mat-toolbar color="primary" class="toolbar-container">Enter Username</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-body">
      <mat-form-field class="justifier">
          <mat-label>What's Your Organisation's Name</mat-label>
          <input matInput type="text" class="form-input" [(ngModel)]="organisation">
      </mat-form-field>
    </div>
    <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="addorg()" color="primary">
            <mat-icon>input</mat-icon> OK
        </button>
    </div>
  </div>
</div>
