<mat-toolbar color="primary" class="toolbar-container">
  Organisations
  <button mat-icon-button (click)="addorganisation()"  *ngIf= "userRole === 'superAdmin'" class="add-button">
    <mat-icon matSuffix>add</mat-icon>
  </button>
</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-body">
      <mat-card class="example-card" *ngFor="let org of items | async">
        <mat-card-header>
          <mat-card-title> {{org.title}} </mat-card-title>
        </mat-card-header>
        <mat-card-content>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary" (click)="selectedOrganisation(org)">Explore</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>
