<mat-toolbar color="primary" class="toolbar-container">Forgot Password</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-body">
      <mat-form-field class="justifier">
          <mat-label>Email</mat-label>
          <input matInput type="email" class="form-input" [(ngModel)]="email">
      </mat-form-field>
    </div>
    <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="forgotpassword()" color="primary">
            <mat-icon>input</mat-icon><strong> Send Link</strong>
        </button>
    </div>
    <div class="additional-link">
      Back to <a [routerLink]="['/login']"
      [queryParams]="{ orgTitle: orgTitle }"> <strong>Login</strong></a>
    </div>
  </div>
</div>
