<mat-toolbar color="primary" class="toolbar-container">
  <button mat-icon-button (click)="logout()" class="back-button">
    <mat-icon matSuffix>arrow_back</mat-icon>
  </button>
  <button mat-icon-button *ngIf="userRole === 'teacher' || userRole === 'admin'" (click)="onAddQuestions()" class="add-button">
    <mat-icon matSuffix>add</mat-icon>
  </button>
  Quiz
</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-body">
      <label class="justifier"> {{currentDocument?.question}} </label>
        <mat-radio-group
          [(ngModel)]="selectedAnswers[questionNo]"
          aria-labelledby="radio-group-label"
          class="justifier-content">
          <mat-radio-button class="example-radio-button" *ngFor="let option of currentDocument?.options" [value]="option">
            <span class="radio-label"> {{option}} </span>
          </mat-radio-button>
        </mat-radio-group>
        <div class="error-message" *ngIf="formSubmitted[questionNo] && !selectedAnswers[questionNo]">* Please Answer this question</div>
      </div>
        <button mat-raised-button class="next" (click)="previousQuestion()" [disabled]="isFirst()">
          <mat-icon matSuffix class="mirror">play_arrow</mat-icon>
        </button>
        <button mat-raised-button class="next" (click)="nextQuestion()" [disabled]="isLast()" (focus)="formSubmitted[questionNo] = true">
          <mat-icon matSuffix>play_arrow</mat-icon>
        </button>
          <button mat-raised-button class="submitAnswer" (click)="submitAnswers()" color="primary" *ngIf="questionNo === mcqDocuments.length - 1">
            <mat-label>Submit</mat-label>
          </button>
      <div class="form-footer">
      </div>
  </div>
</div>
