<mat-toolbar color="primary" class="toolbar-container">
  <button mat-icon-button (click)="goBack()" class="back-button">
    <mat-icon matSuffix>arrow_back</mat-icon>
  </button>
  Score
</mat-toolbar>
<div class="box" *ngIf="userRole === 'student'">
  <h1> {{name}} </h1>
</div>
<table *ngIf="userRole === 'student'">
  <thead>
    <tr>
      <th>Subject</th>
      <th>Score</th>
      <th>Out Of</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let quizScore of scores">
      <td>{{ quizScore.subject }}</td>
      <td>{{ quizScore.score }}</td>
      <td>{{ quizScore.totalQuestions }}</td>
    </tr>
  </tbody>
</table>
<div class="box" *ngIf="this.userRole === 'teacher'">
  <h1>{{this.quizId}} scores</h1>
</div>
<div class="table-container" *ngIf="this.userRole === 'teacher'">
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let score of scores">
        <td>{{ score.name }}</td>
        <td>{{ score.score }}</td>
      </tr>
    </tbody>
  </table>
</div>
