<mat-toolbar color="primary" class="toolbar-container">
  <button mat-icon-button (click)="goBack()" class="back-button">
    <mat-icon matSuffix>arrow_back</mat-icon>
  </button>
  Score
</mat-toolbar>
<div class="box" *ngIf="this.userRole === 'student'">
  <h1> {{name}} </h1>
</div>
<div class="table-container" *ngIf="this.userRole === 'student'">
  <table>
    <thead>
      <tr>
        <th>Subject</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quizScore of quizScores">
        <td>{{ quizScore.name }}</td>
        <td>{{ quizScore.score }}</td>
      </tr>
    </tbody>
  </table>
</div>
<div class="box" *ngIf="this.userRole === 'teacher'">
  <h1>{{this.quizId}} scores</h1>
</div>
<div class="table-container" *ngIf="this.userRole === 'teacher'">
  <table>
    <thead>
      <tr>
        <th>Student Name</th>
        <th>Score</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let quizScore of quizScores">
        <td>{{ quizScore.name }}</td>
        <td>{{ quizScore.score }}</td>
      </tr>
    </tbody>
  </table>
</div>
