<mat-toolbar color="primary" class="toolbar-container">
  <button mat-icon-button (click)="goBack()" class="back-button">
    <mat-icon matSuffix>arrow_back</mat-icon>
  </button>
  Score
</mat-toolbar>
<div class="box">
<h1>LeaderBoard</h1>
</div>
<div class="table-container">
<table>
  <thead>
    <tr>
      <th>Username</th>
      <th>Score</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let score of scores">
      <td>{{ score.username }}</td>
      <td>{{ score.score }} / {{ score.totalQuestions }} </td>
    </tr>
  </tbody>
</table>
</div>
