<mat-toolbar color="primary" class="toolbar-container">Email Verification</mat-toolbar>
<div class="form-wraper">
  <div class="form-container card">
    <div class="form-body">
      <div class="justifier">
        <h2 class="text-dark text-muted email-text">Verify Email</h2>
      </div>
      <div class="justifier">
        <p class="text-muted">Link has been sent to your registered email. Please verify.</p>
      </div>
    </div>
    <div class="form-footer">
        <button mat-raised-button class="btn custom-btn" (click)="logout()" color="primary">
            <mat-icon>input</mat-icon><strong> Back To Login</strong>
        </button>
    </div>
  </div>
</div>
